*:not(table, td, th, tr, b){
    background-color: #B2B1B9;
    box-sizing: border-box;
    border: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;

}

.h1-titulo{
    text-align: center;
    font-size: 4em;
    width: 940px;
    font-weight: bold;
}

.banner-principal{
    width: 100%;
    height: auto;
    border: black solid;
}

.btn-nav{
    display: flex;
    justify-content: flex-end;
    margin: 12px 10px 3px 0;
}

.btn-home, .btn-about, .btn-contact{
    background: #A9C52F;
}


nav > a{

    text-decoration: none;
    background: #1684A7;
    border: solid;
    border-color: black;
    border-width: 1px;
    color: #F6F6F6;
    font-size: 1.2em;
    margin: 1.5px;
    padding: 5px;

}

.sec-principal{
    display: flex;
    align-items: center;
}

.sec-contacto{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.sec-about{
    display: flex;
    align-items: flex-start;
}

.sec-titulo{
    text-align: center;
    border: solid;
}

.logo{
    width: 120px;
    float: left;
    margin: 50px 20px 140px 0;
}

.hockey1, .hockey2{
    width: 540px;

}



/*------------------------style para rule.html-----------------------------------------------*/

.div-rule{
    text-align: center;
    margin-top: 20px;

}

.section-rule{
    margin-top: 3rem;
}

ol, ul{
    list-style-position: inside;
    
}

.dt-rule{
    font-weight: bold;
    margin-left: 6.5rem;
    margin-top: 2rem;
}

.dd-rule{
    margin-left: 6.5rem;
    margin-right: 6.5rem;
    margin-top: 20px;
}

.lista-2 {
    margin-top: 20px;
}

/*------------------------style para game_info.html-----------------------------------------------*/

.titulo-game-info{
    text-align: center;

}

.dt-game-info{
    font-weight: lighter; 
    margin: 20px 0 0 6.5rem;
    
}

.dd-game-info, dd{
    margin: 20px 0 2rem 6.5rem;
}

.dt-game-info-email{
    text-align: right;

}

table, tr, td, th{
    background-color: #5900ff;
    border: 1px solid #B53FE0;
}

.tabla{
    margin: 20px 0 2rem 6.5rem;
}

tbody{
    color: #4b1f22;
}

.colum{
    width: 9rem;
}

th{
    height: 3rem;
    font-weight: lighter;
}


.mapa{
    width: 940px;
    margin: 0 auto;
}

/*------------------------style para registration.html-----------------------------------------------*/
